@{
    ViewBag.Title = "EmptyCart";
}

<h2>Shopping Cart</h2>

<div class="alert alert-dark alert-dismissible d-flex align-items-center w-75 fade show" role="alert">
    There's no game on your shopping cart.
    @*<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>
<div>
    <a class="btn btn-sm btn-outline-success bg-success bg-opacity-10 me-2" href="@Url.Action("Index","Buyable")">
        <i class="fa fa-check"></i>
        Buy
    </a>
    <a class="btn btn-sm btn-outline-danger bg-danger bg-opacity-10" href="@Url.Action("Index","Home")">
        <i class="fa fa-undo"></i>
            Home
    </a>
</div>
