<div class="d-flex align-items-start col-sm">
    <div class="nav flex-column nav-pills">
        <a class="btn btn-outline-light mb-2" id="button" type="button" href="@Url.Action("Index","Sales")">Sales</a>
        <a class="btn btn-outline-light mb-2" id="button" type="button" href="@Url.Action("SalesCustomer","Sales")">Customer</a>
        <a class="btn btn-outline-light mb-2" id="button" type="button" href="@Url.Action("SalesCustomer","Sales")">Games</a>
        <a class="btn btn-outline-light mb-2" id="button" type="button" href="@Url.Action("SalesCustomer","Sales")">Categories</a>
    </div>
    
</div>
